@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
/** space height */
/** color-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-wrapper {
  padding: 1rem;
  margin-top: 5rem;
  width: calc(100vw - 28rem);
  margin-left: 28rem;
}
.content-wrapper .app__title {
  height: 4rem;
  background-color: #fff;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 0.6rem solid #142c70;
  box-shadow: 9px 9px 9px #5a5a5a, 9px 9px 9px #ffffff;
}
.content-wrapper .app__title-title {
  margin-left: 2.4rem;
}
.content-wrapper .app__title #clock {
  margin-right: 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.content-wrapper .analysis {
  display: flex;
}
.content-wrapper .analysis,
.content-wrapper .content__chart {
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  box-shadow: 9px 9px 9px #5a5a5a, 9px 9px 9px #ffffff;
}
.content-wrapper .analysis i,
.content-wrapper .content__chart i {
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  min-width: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 2.5rem;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.content-wrapper .analysis .icon--customer,
.content-wrapper .content__chart .icon--customer {
  background-color: #b9ffd3;
  color: #22ad56;
}
.content-wrapper .analysis .icon--product,
.content-wrapper .content__chart .icon--product {
  background-color: #adcbf3;
  color: #1d5aab;
}
.content-wrapper .analysis .icon--comment,
.content-wrapper .content__chart .icon--comment {
  background-color: #fde1c3;
  color: #ff8b07;
}
.content-wrapper .analysis__info,
.content-wrapper .content__chart__info {
  flex: 1;
  padding: 0 2rem;
  align-self: center;
}
.content-wrapper .analysis__info h4,
.content-wrapper .content__chart__info h4 {
  text-transform: uppercase;
  color: #df3b31;
  margin: 0;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.content-wrapper .analysis__info p,
.content-wrapper .content__chart__info p {
  font-size: 1.6rem;
  margin: 0;
  margin-bottom: 0.4rem;
}
.content-wrapper .analysis__info-sum,
.content-wrapper .content__chart__info-sum {
  border-top: 1px dashed #333;
  margin-top: 0.4rem;
  padding-top: 1rem;
}
.content-wrapper .content__chart-title {
  margin-bottom: 3rem;
}

.login__limit {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  background-color: #001c40;
  border-bottom-left-radius: 100%;
}
.login__limit .login__container {
  min-height: 100vh;
  width: 100%;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.login__limit .login__wrapper {
  width: 96rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  overflow: hidden;
  padding: 10rem;
}
.login__limit .login__wrapper .login__img {
  width: 31.6rem;
}
.login__limit .login__wrapper .login__img img {
  width: 100%;
  display: block;
}
.login__limit .login__wrapper .login__form {
  width: 30rem;
  text-align: center;
}
.login__limit .login__wrapper .login__form-title {
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 3rem;
}
.login__limit .login__wrapper .validate-form .validate-input {
  padding: 0.8rem 0rem 0.8rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  text-align: left;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  color: #001c40;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.login__limit .login__wrapper .validate-form .validate-input i {
  padding: 0 2rem;
}
.login__limit .login__wrapper .validate-form .validate-form-btn input {
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #001c40;
  color: #fff;
}

/* products */
.container__main {
  margin-top: 1.6rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #dce0e5;
  padding: 0 0.8rem;
  box-shadow: 9px 9px 9px #5a5a5a, 9px 9px 9px #ffffff;
}
.container__main-handler {
  padding: 1.6rem 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.container__main-link a {
  display: inline-block;
  padding: 8px;
  background-color: #142c70;
  margin-right: 0.6rem;
  color: #ffffff;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  font-size: 1.4rem;
  box-shadow: 9px 9px 9px #5a5a5a, 9px 9px 9px #ffffff;

}

.container__main-link a:hover{
  text-decoration: none;
}
.container__main-search {
  box-shadow: 9px 9px 9px #5a5a5a, 9px 9px 9px #ffffff;
}
.container__main-search input {
  padding: 8px;
  min-width: 28rem;
  width: 28rem;
  border-radius: 4px;
  border-radius: 7px;
  background: #d9d9d9;
  box-shadow: inset 20px 20px 60px #b8b8b8, inset -20px -20px 60px #fafafa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #000;
  font-size: 1.4rem;
}

.container__table {
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.container__table table {
  border-collapse: collapse;
  border-radius: 0.6rem;
  width: 100%;
  background-color: #ffffff;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  overflow: hidden;
  border-radius: 7px;
  background: #d9d9d9;
  box-shadow: inset 20px 20px 60px #b8b8b8, inset -20px -20px 60px #fafafa;
}
.container__table tr:first-child {
  height: 40px;
}
.container__table tr:first-child th {
  background-color: #142c70;
  color: #ffffff;
  font-weight: 500;
}
.container__table td,
.container__table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 1.6rem;
  color: #000;
  font-weight: 400;
}
.container__table tr:nth-child(even) td {
  background-color: rgba(79, 79, 79, 0.3294117647);
  color: #ffffff;
}
.container__table td a i {
  color: #df3b31;
}
.container__table tr {
  height: 10rem;
}
.container__table-desc-parent {
  width: 300px;
}
.container__table-desc {
  height: 10rem;
  overflow-y: scroll;
  max-width: 100%;
}
.container__table-desc::-webkit-scrollbar {
  width: 1px;
}
.container__table-desc p {
  width: 100%;
}

.img_item {
  height: 10rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

::-moz-placeholder {
  text-align: left;
  font-size: 1.6rem;
  color: #000;
}

:-ms-input-placeholder {
  text-align: left;
  font-size: 1.6rem;
  color: #000;
}

::placeholder {
  text-align: left;
  font-size: 1.6rem;
  color: #000;
}

.sidebar__mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 28, 64, 0.6);
  z-index: 101;
  animation: sliderMenuToggle ease 0.4s;
  -webkit-animation: sliderMenuToggle ease 0.4s;
  -moz-animation: sliderMenuToggle ease 0.4s;
  -ms-animation: sliderMenuToggle ease 0.4s;
  -o-animation: sliderMenuToggle ease 0.4s;
}
.sidebar__mobile-container.active {
  display: none;
}
.sidebar__mobile-container .icon {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  font-size: 2.4rem;
  color: #fff;
}

/* menu bobile */
.sidebar__mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0%;
  bottom: 0;
  z-index: 999;
  width: 28rem;
  background-color: #fff;
  animation: sliderMenuToggle ease 0.6s;
  -webkit-animation: sliderMenuToggle ease 0.6s;
  -moz-animation: sliderMenuToggle ease 0.6s;
  -ms-animation: sliderMenuToggle ease 0.6s;
  -o-animation: sliderMenuToggle ease 0.6s;
}
.sidebar__mobile .icon {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-size: 2rem;
  color: #333333;
}
.sidebar__mobile .sidebar__mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar__mobile .sidebar__menu-link {
  padding: 0.8rem 1.6rem;
}
.sidebar__mobile .sidebar__admin {
  z-index: 100;
}
.sidebar__mobile .sidebar__mobile-container {
  display: none;
}

.container__main-handler-mobile {
  display: none;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .content-wrapper {
    margin-left: 0;
    width: unset;
  }
  .sidebar__mobile.active {
    display: none;
  }
  .sidebar__mobile {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sidebar__mobile {
    display: block;
  }
  .sidebar__mobile.active {
    display: none;
  }
  .sidebar__mobile-container.active {
    display: none;
  }
  main.content-wrapper {
    overflow: hidden !important;
  }
}
@media (max-width: 767px) {
  .content-wrapper .app__title {
    display: none;
  }
  .container__main-handler {
    display: none;
  }
  main.content-wrapper {
    overflow: hidden !important;
  }
  .container__table {
    overflow-y: scroll;
  }
  .container__main-handler-mobile {
    display: flex;
    justify-content: space-between;
  }
  .container__main-search {
    box-shadow: unset;
  }
  .container__main-search input {
    min-width: unset;
    width: unset;
  }
}
@-webkit-keyframes sliderMenuToggle {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}
@keyframes sliderMenuToggle {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}/*# sourceMappingURL=content.css.map */